@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/nav";
@import "partials/header";
@import "partials/content";
@import "partials/studio";
@import "partials/footer";

body{
     font-family: 'Open Sans', sans-serif;
     background: url('../images/bg.jpg');
     background-size: cover;
    }
    .container-fluid{
                     padding: 0;
                     overflow-x: hidden;
                    }
     h1,h2,.button button{
                          font-family: 'Finger Paint', cursive;
                         }
     h3,.tiers,.faq span,.moreRight,.bolder,.details ul{
                                     font-weight: bold;
        }
     hr{
        @include tabMobBroder;
        display: none;
       }
     button,.nav,.media a,.presskit .introphoto{
            border: none;
            outline: none;
     }
     button,.checkout button,.formbox .execute, .formbox .button{
            background: black;
            color: $blue;
           }

@import "partials/mediaQ";
@import "partials/studioMediaQ";
