.content{
         padding: 50px 0px 50px 0px;


         h1{
            background: $red;
            color: $blue;
            padding: 10px 0px 10px 0;
            text-indent: 50px;
            font-size: 40px;

         }
         p{
           font-size: 20px;
           line-height: 30px;
           text-indent: 50px;
         }
    iframe{
           position: relative;
           left: 18%;
          }
    .twit{
          padding-left: 8.5%;
         }

   .media{
          .twoC{
                padding-left: 40px;
          }

          img{
              width: 92%;
              border: 2px solid $red;
              }

          }
   .button{
           padding: 50px 0 0 5%;
           h2{
              color: white;
              padding-bottom: 20px;
           }
    button{
          border: none;
          background: $red;
          font-family: 'Finger Paint', cursive;
          color: white;
          font-size: 30px;
          padding: 5px 20px 5px 20px;
          position: relative;
          left: 27%;
          }
         }


}
