.content{
         padding: 50px 0px 50px 0px;
         border-style: solid;
         border-width: 39px 0px 61px;
         -moz-border-image: url(../images/border.svg) 39 0 61 stretch;
         -webkit-border-image: url(../images/border.svg) 39 0 61 stretch;
         -o-border-image: url(../images/border.svg) 39 0 61 stretch;
         border-image: url(../images/border.svg) 39 0 61 fill stretch;

         h1{
            background: $red;
            color: $blue;
            padding: 10px 0px 10px 0;
            text-indent: 50px;
            font-size: 40px;

         }
         p{
           font-size: 20px;
           line-height: 30px;
           text-indent: 50px;
          }
    iframe{
           position: relative;
           left: 18%;
          }
    .intro{
           position: relative;
           left: 23%;
           border: 2px solid $red;
          }
    .introphoto{
                width: 100%;
    }

    .twit{
          padding-left: 8.5%;

         }

   .media{
          .twoC{
                padding: 20px 0 0 15px;
                img{
                    width: 95%;
                    border: 2px solid $red;
                   }
                 }
          .finalT{
                  padding-left: 25%;
                  img{
                      width: 70%;
                  }
                }
          }
   .button{
           padding: 50px 0 0 5%;
           h2{
              color: white;
              padding-bottom: 20px;
           }
    button{
          border: none;
          background: $red;
          font-family: 'Finger Paint', cursive;
          color: white;
          font-size: 30px;
          padding: 5px 20px 5px 20px;
          position: relative;
          left: 25%;
          }
         }
}
.faq{
     span{
          font-weight: bold;
     }
     p{
      width: 90%;
      padding-left: 6%;
      text-indent: 0;
     }
     h3{
        border: 2px solid $red;
        padding: 5px;
     }
}
.presskit{
          .subH,.hborder{
                background: none;
                border: 2px solid $red;
                color: white;
          }
          .hborder{
                   padding: 8px;
          }

          h2{
             font-family: 'Open Sans', sans-serif;
             font-weight: bold;
             }
             .lower{
                    padding-top: 6px;
             }
          ul{
             list-style-type: none;
             padding: 0px;
             h3{
                font-size: 20px;
             }
             p{
               width: 100%;
               font-size: 16px;
               text-indent: 0;
             }
          }
          iframe{
                 padding: 10px 0 0 0;
                 width: 100%;
                 left: 0;

          }
          .logo{
                img{
                    width: 80%;
                    padding-left: 15%;
                    }
                  }
          .empty{
                 padding: 35px;
          }
}
