.footer{
        background: $red;
        padding: 10px 0 10px 0px;

         .fa{
             font-size: 40px;
             color: white;
             padding: 5px 0 0 10%;
         }
         .fa:hover{
                 color: black;
                 }
        p{
          color: white;
          font-size: 12px;
          padding-top: 20px;
        }
}
