.header{
        position: relative;
        overflow-y: hidden;


        img{
            width: 99.9%;
           }
        .first{
               position: relative;
               left: 0;
        }
        .second{
                width: 25%;
                left: 38%;
                top: 0;
                display: block;
                position: absolute;
        }
        .third{
               position:absolute;
               z-index: 100;
               top: -.2%;
               left: .8%;
               width: 98.15%;
        }
}
