@media(max-width: 767px){
          body{
               hr{
                  display: block;
                }
              }
          .nav{
               .logoImage{
                          width: 49%;
                          padding-bottom: 10px;
                          img{
                              width: 100%;
                              }
                          }
                .mobileN{
                         display: inline-block;
                         font-size: 30px;
                         cursor: pointer;
                         position: relative;
                         top: 3px;
                         left: 15px;
                        }
                   .drop{
                         display: none;
                         width: 100%;
                         border-top: 2px solid black;
                        }
                }
       .header{
               .second{
                       width: 40%;
                       left: 30%;
               }
       }
       .content{
                padding: .5% 3% 0 3%;
                border: none;
                h1{
                   padding: 10px 0px 10px 0;
                   text-indent: 0px;
                   text-align: center;
                }
                iframe,.intro,.introphoto{
                                          left: 0px;
                                           width: 100%;
                         }
                       p{
                          width: 100%;
                          padding-left: 10px;
                         }
                   .twit{
                         padding-left: 3.6%;
                         padding-right: 4.5%;
                        }
                  .media{
                          .twoCol{
                                  a{
                                    padding-left: 0;
                                    img{
                                        width: 100%;
                                        }
                                  }
                        }
                         }
                  .button{
                          padding: 10px 0 40px 10%;
                          h2{
                             width: 80%;
                             }
                       button{
                              left: 13%;
                              }
                         }
                         }
               .presskit{
                          h2{
                            text-align: center;
                          }
                         iframe{
                                width: 100%;
                                height: 300px;
                           }
                         ul{
                            padding-left: 10%;
                            p{
                              font-size: 20px;
                            }
                           }
                         .logo{
                               img{
                                   width: 100%;
                                   padding-left: 0;
                                   }
                                 }
                          .thanks{
                                  p{
                                    text-indent: 0;
                                  }
                                 }
                          .linkspace{
                                      font-size: 20px;
                                      line-height: 40px;
                          }
                        }
               .checkout{
                  padding-bottom: 50px;
                         .buying,.thumbnail{
                                 width: 100%;
                                 left: 0;
                         }
                         .thumbnail{
                                    width: 25%;
                                    margin-left: 5%;
                         }

                         .formbox{
                                  width: 100%;
                                  left: 0;

                                  p{
                                    text-align: left;
                                    padding-left: 0;
                                  }
                                  .details{
                                           padding: 0 0 0px 30px;
                                          img{
                                              width: 90%;
                                              }
                                              p{
                                                font-size: 22px;
                                              }
                                              ul{
                                                  padding-top: 30px;
                                              }
                                              .included{
                                                        top: 20px;
                                                        font-size: 18px;
                                              }
                                              .mtBold{
                                                      font-weight: bold;
                                                      width: 100%;
                                              }
                                            }
                                  .information{

                                               .button{
                                                       width: 60%;
                                               }
                                               input[type='text']{
                                                                  width: 90%;

                                               }
                                               input[type='checkbox'],.fa-gift{
                                                                       left: .5%;
                                                                       display: block;
                                                                       top: 20px;

                                               }
                                               .fa-gift{
                                                        top: 3px;
                                                        left: 20px;
                                               }
                                             }
                                        .tip{padding-left: 25%;}
                                  .payment{
                                           padding: 20px 0 80px 20%;
                                           .mobileV{
                                                     position: relative;
                                                     top: 10px;
                                           }
                                           .options{
                                                    font-size: 25px;
                                                    padding: 40px 0 0 15px;
                                           }
                                           }

                       }
               }
               .footer{
                       .fa{
                            font-size: 50px;
                            color: white;
                            padding: 5px 0 0 12%;
                          }
                        .copywrite p{
                                      padding: 20px 15px 10px 50px;
                         }
                        }
}

@media (min-width: 769px)and(max-width: 1249px){
  body{
       hr{
          display: block;
       }
      }
  .nav{
       .logoImage{
                  width: 20%;
                 }
          button{
                 padding: 7px 0 7px 0;
                 border: 0;
                }
          .drop{
                width: 19.5%;
                padding-bottom: 7px;
               }
      }
  .content{
           padding: 2% 0 0 3%;
           border: none;
           h1{
              width: 95%;
             }
           p{
             font-size: 22px;
             width: 95%;
             padding-left: 10px;
           }
      iframe,.introphoto{
                        left: 0;
                        width: 95%;
                        padding: 0;
                        border: none;
                      }
      .intro{
            left: 18%;
            width: 60%;
            }
      .twit{
            padding-right: 5%;
            }
     .media{
            .twoCol{
                    a{
                      padding-left: 0;
                    }
                    img{
                        width: 90%;
                    }
                 }
            }
     .button{
             padding-bottom: 40px;
             button{
                    left: 30%;
                   }
            }
          }
      .faq{
           h3{
              width: 95%;
             }
            p{
              width: 80%;
              font-weight: normal;
              padding:2% 0 2% 6%;
             }
           }
 .presskit{
           .introphoto,.hborder{
                                width: 95%;
                               }
            .notTablet{
                       display: none;
            }
           ul{
              li{
                 padding-left: 20px;
                 p,a{
                     font-size: 20px;
                    }
                 }
              }
           .linkspace{
                      a{
                        padding: 10px 0 0 10px;
                        display: block;
                      }
           }

          }

            .checkout{
               padding-bottom: 50px;
                      .buying,.thumbnail{
                              width: 95%;
                              left: 0;
                      }
                      .thumbnail{
                                 width: 25%;
                                 margin-left: 5%;
                      }

                      .formbox{
                               width: 95%;
                               left: 0;

                               .details{
                                        padding: 0 0 0px 10%;
                                       img{
                                           width: 90%;
                                           }
                                           p{
                                             font-size: 22px;
                                           }
                                           ul{
                                               padding-top: 30px;
                                           }
                                           .included{
                                                     top: 20px;
                                                     font-size: 18px;
                                           }
                                           .mtBold{
                                                   font-weight: bold;
                                           }

                                         }
                               .information{
                                            padding-left: 10%;
                                            .button{
                                                    width: 60%;
                                            }
                                            input[type='text']{
                                                               width: 89%;

                                            }
                                            input[type='checkbox'],.fa-gift{
                                                                    left: .5%;
                                                                    display: block;
                                                                    top: 20px;

                                            }
                                            .fa-gift{
                                                     top: 3px;
                                                     left: 20px;
                                            }
                                          }
                                     .tip{padding-left: 30%;}
                               .payment{
                                        padding: 20px 0 80px 18%;

                                        .options{
                                                 font-size: 25px;
                                                 padding: 40px 0 0 18%;
                                        }
                                        }

                    }
            }
  .footer{
          .copywrite p{
            padding: 20px 0px 10px 80px;
          }
         }
}

@media(min-width: 1250px){
      .nav{
           button{
                  width: 19.7%;
           }
      }
      .twit{
            padding-left: 8%;
      }
}
