.nav{
     background: $red;


     ul{
        list-style: none;
        padding-top: 11px;

        li{
           display: inline-block;
           width: 22%;
           text-align: center;

        }
       }
       a,.mobileN{
         font-size: 22px;
         text-transform: uppercase;
         padding: 15px 50px 10px 50px;
         font-weight: bold;
         color: $blue;
         text-decoration: none;
       }
       a:hover,.mobileN:hover{
               color: white;
       }
       img{
           width: 80%;
           padding-top: 10px;

       }
       .mobileN{
                display: none;
                padding: 0;
       }


}
