.nav{
     background: $red;
     padding-top: 5px;

     ul{
        list-style: none;
        display: inline-block;
        width: 70%;
        padding-left: 50px;

        li{
           display: inline-block;
           text-align: center;


        }
       }
       a,.mobileN{
         font-size: 22px;
         text-transform: uppercase;
         padding: 15px 50px 10px 50px;
         font-weight: bold;
         color: $blue;
         text-decoration: none;
       }
       a:hover,.mobileN:hover{
               color: white;
       }
       img{
           width: 10.5%;

       }
       .mobileN{
                display: none;
                padding: 0;
       }


}
