@import "variables";
.studio{
         background: $blue;
         h1,h2,h4,.content h2{
               background: none;
               font-weight: bold;
               color: black;
               font-family: 'Open Sans', sans-serif;
               text-indent: 0;
               padding-top: 0;
         }
         .content h1,.team,.nav li{
                  text-align: center;
               }
        .nav{
              background: black;
              padding-top: 5px;
              ul{
                 list-style-type: none;
                  li{
                     display: inline-block;
                     width: 33%;
                     a{
                       width: 100%;
                     }
                     .mobileLink{
                                 display: none;
                     }
                  .logoImage{
                             width: 40%;
                             padding-top:5px;
                  }
                  }
              }
        }
        .content{
                  border: none;
                  padding-top: 100px;
                  .vid .videobg,.button{
                                        padding: 30px 0px 30px 0px;
                  }
                  .vid .videobg,.button{
                                        background: rgba(128, 128, 128, .5);
                                       }
                  .vid{
                       iframe{
                              border: 0;
                              left: 12%;
                            }
                      }
                  .team{
                        background: rgba(255, 255, 255, .5);
                        padding-bottom: 20px;
                  }
                  .button{
                          img{
                              width: 95%;
                              position: relative;
                              left: 2.5%;
                          }
                          button{
                                 font-family: 'Open Sans', sans-serif;
                                 color: white;
                          }
                          h1{
                            padding: 0;
                          }
                  }
                }
       .footer{
               background: black;
               .fa:hover{
                         color: $blue;
                        }
                form{
                      p{
                        padding-top: 5px;
                        font-size: 20px;
                        color: $blue;
                      }
                      .formLeft{
                            float: left;
                            padding-right: 20px;
                      }
                      .formRight{
                                float: left;
                      }
                      .underFloat{
                                  clear: both;
                                  display: block;
                      }
                      .button{
                              padding: 10px;
                              font-weight: bold;
                      }
                      .btnTwo{
                              position: relative;
                              left: 10px;
                      }
                    }
       }
}
